@import '../../variables';

.header-container {
  background-color: $red-nav;
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 64px;
}

.nav-logo {
  height: 48px;
  margin-left: 56px;
  margin-right: 24px;
  width: 48px;
}

.nav-title {
  color: white;
}